.img{
    width: 400px;
    height: 230px;
}

.artigo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 450px;
}

.date{
    font-size: 12px;
    font-weight:500;
    margin-top: 15px;
    margin-bottom: 15px;
}

.titleCard{
    font-family: 'fontTitle', sans-serif;
    font-size: 30px;
    font-weight: 600;
}

.textCard{
    font-family: 'fontText', sans-serif;
    font-size: 11px;
    text-align: justify;
    margin-right: 60px;
    margin-left: 60px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 500;
}

.plusRead{
    font-family: 'fontText', sans-serif;
    font-size: 11px;
    font-weight: 500;
    color: black;
    border-bottom: 1px solid rgb(82, 80, 80);;
}

a{
    text-decoration: none;
}
