.img{
    width: 400px;
    height: 230px;
}

/* Responsividade para a imagem */
@media (max-width: 768px) {
    .img {
        width: 300px; /* Reduzindo o tamanho da imagem para dispositivos médios */
        height: 170px; /* Ajustando a altura proporcionalmente */
    }
}

@media (max-width: 480px) {
    .img {
        width: 250px; /* Reduzindo ainda mais o tamanho da imagem para dispositivos pequenos */
        height: 140px; /* Ajustando a altura proporcionalmente */
    }
}


.artigo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 450px;
}

/* Responsividade para o artigo */
@media (max-width: 768px) {
    .artigo {
        width: 350px; /* Ajustando a largura do artigo */
    }
}

@media (max-width: 480px) {
    .artigo {
        width: 90%; /* Tornando a largura do artigo mais flexível */
    }
}

.date{
    font-size: 12px;
    font-weight:500;
    margin-top: 15px;
    margin-bottom: 15px;
}

.titleCard{
    font-family: 'fontTitle', sans-serif;
    font-size: 30px;
    font-weight: 600;
}

/* Responsividade para o título do card */
@media (max-width: 768px) {
    .titleCard {
        font-size: 24px; /* Reduzindo o tamanho da fonte para telas menores */
    }
}

.textCard{
    font-family: 'fontText', sans-serif;
    font-size: 11px;
    text-align: justify;
    margin-right: 60px;
    margin-left: 60px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 500;
}

/* Responsividade para o texto do card */
@media (max-width: 768px) {
    .textCard {
        font-size: 14px; /* Ajustando o tamanho da fonte */
        margin-right: 30px; /* Reduzindo as margens laterais */
        margin-left: 30px;
    }
}

.plusRead{
    font-family: 'fontText', sans-serif;
    font-size: 11px;
    font-weight: 500;
    color: black;
    border-bottom: 1px solid rgb(82, 80, 80);;
}

a{
    text-decoration: none;
}

/* Responsividade para o "Leia mais" */
@media (max-width: 768px) {
    .plusRead {
        font-size: 14px; /* Ajustando o tamanho da fonte */
    }
}

a {
    text-decoration: none;
}
