.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    background-color: #EFEEEE;
    padding-left: 55px;
}


.titleFooter{
    margin-top: 10px;
    font-family: 'fontTitle', sans-serif;
    font-size: 40px;
    
    
}

.navFooter{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.linkFooter{
    text-decoration: none;
    color: #4F4F4F;
    border-bottom: 1px solid #4F4F4F;
}

.navExternalFooter{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
    margin-bottom: 60px;
    
}

.IconsFooter{
    font-size: 30px;
    color: rgb(55, 54, 54);
}


/* Responsividade para dispositivos menores */
@media (max-width: 768px) {
    .footer {
        padding-left: 20px; /* Reduzindo o padding em telas menores */
        padding-right: 20px; /* Adicionando padding à direita para balancear */
    }

    .titleFooter {
        font-size: 30px; /* Reduzindo o tamanho da fonte em telas menores */
    }

    .navFooter {
        gap: 15px; /* Diminuindo o espaço entre os links */
    }

    .IconsFooter {
        font-size: 25px; /* Diminuindo o tamanho dos ícones */
    }
}

@media (max-width: 480px) {
    .footer {
        padding-left: 10px; /* Ajustando para telas muito pequenas */
        padding-right: 10px;
    }

    .titleFooter {
        font-size: 25px; /* Reduzindo ainda mais o tamanho da fonte */
    }

    .navFooter, .navExternalFooter {
        flex-direction: column; /* Mudando os links para coluna em telas muito pequenas */
        gap: 10px;
    }

    .IconsFooter {
        font-size: 20px; /* Ajustando os ícones para tamanhos menores */
    }
}