.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #EFEEEE;

}

.link{
    text-decoration: none;
    color: #4F4F4F;
    margin-bottom: 50px;
}

.link:hover{
    border-bottom: 1px solid #4F4F4F;
}

.link:active{
    border-bottom: 1px solid #4F4F4F;
}

.Icons{
    font-size: 30px;
    color: rgb(55, 54, 54);
}

.nav{
    display: flex;
    justify-content: start;
    gap: 30px;
    margin-top: 20px;
    margin-left: 30px;
}


.title{
    margin-top: 10px;
    font-family: 'fontTitle', sans-serif;
    font-size: 40px;
}

.navExternal{
    display: flex;
    justify-content: end;
    gap: 30px;
    margin-top: 20px;
    margin-right: 30px;
}

