.picture{
    width: 450px;
    height: auto;
}

/* Responsividade para a imagem */
@media (max-width: 768px) {
    .picture {
        width: 350px; /* Reduzindo a largura da imagem em dispositivos médios */
    }
}

@media (max-width: 480px) {
    .picture {
        width: 90%; /* Tornando a largura mais flexível em dispositivos pequenos */
    }
}