.containterReceita{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dateAndAutor{
    font-family: 'fontText', sans-serif;
    font-size: 11px;
    text-align: justify;
    font-weight: 500;
    margin-top: 50px;
    margin-bottom: 30px;
}

.titleReceita{
    font-family: 'fontTitle', sans-serif;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 30px;
}

.receitaComida{
    font-family: 'fontText', sans-serif;
    font-size: 11px;
    text-align: justify;
    font-weight: 500;
    margin: 50px 20% 30px;
}

.imagemReceita{
    width: 100%;
}

