@font-face {
  font-family: 'fontTitle';
  src: url('./fonts/AmaticSC-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'fontText';
  src: url('./fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
}

.App {
  margin: 0px;
  padding: 0px;
  font-family: 'fontText', sans-serif;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10vh 1fr;
  grid-template-areas:
  "header"
  "body" ;
}

.header.header{
  grid-area: header;
}

.main.body{
  grid-area: body;
}


/* Responsividade */
@media (max-width: 768px) {
  /* Ajustes no header */
  .header.header {
    padding: 15px;
    font-size: 24px; /* Tamanho de fonte ajustado para cabeçalhos */
  }

  /* Ajuste no layout do corpo */
  .main.body {
    padding: 10px;
    font-size: 16px; /* Ajuste do tamanho da fonte */
    text-align: center; /* Garantir que o texto fique centralizado */
  }

  /* Alteração no grid para telas menores */
  .App {
    grid-template-rows: 15vh 1fr;
  }
}

@media (max-width: 480px) {
  /* Ajustes em telas ainda menores */
  .header.header {
    padding: 10px;
    font-size: 20px; /* Tamanho de fonte reduzido */
  }

  .main.body {
    padding: 8px;
    font-size: 14px; /* Fonte ainda menor para otimizar a leitura */
  }

  /* Ajuste no grid para telas muito pequenas */
  .App {
    grid-template-rows: 20vh 1fr;
  }
}



