.body{
    background-color: white;
}


.organizationBlog{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    margin: 100px;
}

/* Responsividade */
@media (max-width: 768px) {
    .organizationBlog {
        margin: 50px 20px; /* Ajustando as margens para dispositivos menores */
        gap: 30px; /* Menor espaçamento entre os itens */
    }
}

@media (max-width: 480px) {
    .organizationBlog {
        margin: 30px 10px; /* Ajustando ainda mais a margem para telas pequenas */
        gap: 20px; /* Menor espaçamento entre os itens */
    }
}