.galeria{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
   /*cima, direita, baixo, esquerda*/ 
   margin: 100px 10px 100px 10px;
}

/* Responsividade */
@media (max-width: 768px) {
    .galeria {
        margin: 50px 10px; /* Reduzindo a margem em dispositivos médios */
        gap: 20px; /* Menor espaço entre os itens */
    }
}

@media (max-width: 480px) {
    .galeria {
        margin: 30px 5px; /* Ajustando ainda mais a margem para telas pequenas */
        gap: 15px; /* Menor espaçamento entre os itens */
    }
}