.body{
    background-color: white;
}

.about{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}

.titleAbout{
    margin-top: 10px;
    font-family: 'fontTitle', sans-serif;
    font-size: 70px;
    width: 50%;
    margin-top: 50px;
    font-weight: 500;
}

.textAbout{
    font-family: 'fontText', sans-serif;
    font-size: 14px;
    text-align: justify;
    font-weight: 500;
    width: 80%;
    margin-top: 50px;
}

.containe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 25%;
    margin-right: 25%;
}

.imgAbout{
    width: 100%;
    margin-bottom: 100px;
    margin-top: 80px;
}

.alignImgPizza{
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Responsividade para telas pequenas (celulares) */
@media (max-width: 768px) {
    .about {
        flex-direction: column;
        align-items: center;
    }

    .titleAbout {
        font-size: 35px; /* Ajuste do tamanho da fonte */
        width: 90%; /* Diminui a largura da seção do título */
        text-align: center;
    }

    .textAbout {
        font-size: 12px; /* Ajuste do tamanho da fonte */
        width: 90%; /* Diminui a largura da seção de texto */
        margin-top: 30px;
        text-align: center; /* Alinha o texto centralizado */
    }

    .containe {
        margin-left: 10%;
        margin-right: 10%;
    }

    .imgAbout {
        width: 90%; /* Ajuste da imagem para 90% da largura */
        margin-bottom: 60px;
        margin-top: 50px;
    }
}

/* Responsividade para telas menores (dispositivos móveis muito pequenos) */
@media (max-width: 480px) {
    .titleAbout {
        font-size: 28px; /* Ajuste de fonte para telas muito pequenas */
        width: 100%; /* Faz com que o título ocupe toda a largura */
    }

    .textAbout {
        font-size: 11px; /* Ajuste de fonte */
        width: 100%;
        margin-top: 20px;
    }

    .containe {
        margin-left: 5%;
        margin-right: 5%;
    }

    .imgAbout {
        width: 100%; /* Imagem ocupa 100% da largura */
        margin-bottom: 40px;
    }
}


